.home-wrapper {
  width: 81%;
}

.home-wrapper > h1 {
  color: #da203b;
  font-size: 1.6em;
  margin-bottom: 1em;
  padding-left: 0.5em;
}

/* CARD */

.card-wrapper {
  overflow-x: auto;
  white-space: nowrap;

  margin-bottom: 2em;
  padding: 0 0.9em;
}

/* SCROLLBAR */
/* Track CHROME*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: solid 2px rgba(224, 224, 224, 0.5);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

::-webkit-scrollbar-thumb:active {
  background: #909090;
}
