/* * {
  border: 1px red solid;
} */

.page-wrapper {
  display: flex;
  justify-content: center;
  
}
::-moz-scrollbar-button:decrement,
::-moz-scrollbar-button:increment,
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
  width: 0px;
}
